 
            <div class="banner">
              <div class="container">
                <div class="row">
                  <div class="col-md-12">
                    <div class="banner-section">
                      <h1>property Searching Just Got So Easy</h1>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi deserunt deleniti, ullam commodi sit ipsam laboriosam velit adipisci quibusdam aliquam teneturo!</p>
                   
                      <div class="search-form wow pulse" data-wow-delay="0.8s">
                            <form class="form-inline">
                              <button class="btn toggle-btn" type="button"><i class="fa fa-bars"></i></button>
                                <div class="form-group">
                                    <input type="text" class="form-control" class="srch" placeholder="Key word" >
                                </div>
                                <div class="form-group">  
                                                              
                                    <select id="basic1" class="selectpicker show-tick form-control" data-live-search="true" data-live-search-style="begins"  title="Select your city" >
                                      <option selected="true" disabled="disabled">---Choose City---</option>
                                      <option *ngFor='let cityList of city' value="cityList.name">
                                        {{cityList.name}}
                                      </option>
                                      <!-- <option>---Choose City---</option>
                                       <option>Noida</option>
                                      <option>Ghaziabad</option>
                                      <option>Greater Noida</option>
                                      <option>Delhi</option>
                                      <option>GuruGram</option>  -->
                                    </select>
                                </div>
                                <div class="form-group">                                     
                                    <select id="basic2" class="selectpicker show-tick form-control">
                                        <option selected="true" disabled="disabled">-Status-</option>
                                        <option>Sell </option>
                                        <option>Buy</option>
                                    </select>
                                </div>
                                <button class="btn search-btn" type="submit"><i class="fa fa-search" ></i></button>
                           
                                  <!-- <div class="search-toggle">
                                    <div class="search-row">  
                                      <div class="form-group mar-r-20">
                                          <label>Price range ($):</label>
                                          <input type="text" class="span2" value="" data-slider-min="0" 
                                                   data-slider-max="600" data-slider-step="5" 
                                                   data-slider-value="[0,450]" id="price-range"/><br />
                                            <b class="pull-left color">2000$</b> 
                                            <b class="pull-right color">100000$</b>
                                      </div>
                                       <div class="form-group mar-l-20">
                                            <label>Property geo (m2) :</label>
                                            <input type="text" class="span2" value="" data-slider-min="0" 
                                                   data-slider-max="600" data-slider-step="5" 
                                                   data-slider-value="[50,450]" id="property-geo" /><br />
                                            <b class="pull-left color">40m</b> 
                                            <b class="pull-right color">12000m</b>
                                        </div>
                                    </div>
                                  </div> -->

                            </form>
                          </div>
                    </div>
                  </div>  
                </div>
              </div>
            </div>  
            <div class="mapSize">
              <div class="container">
                <div class="row">
                  <div class="col-md-12">
                      <div class="form-group">
                          <label>Enter address</label>
                          <input type="text" class="form-control" (keydown.enter)="$event.preventDefault()" placeholder="Search property nearest location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" #search>
                        </div>
                       
                        <agm-map [latitude]="28.626690" [longitude]="77.385850" [zoom]="10">
                          <agm-marker [latitude]="28.626690" [longitude]="77.385850" [markerDraggable]="true"
                            (dragEnd)="markerDragEnd($event)"></agm-marker>
                        </agm-map>
                        
            <!-- <agm-map [latitude]="28.626690" [longitude]="77.385850" [zoom]="30">
              
              <agm-marker [latitude]="28.626690" [longitude]="77.385850" ></agm-marker>
            </agm-map> -->
          </div>
            </div>
            </div>
            </div>