.content-area{
    background-color: #FFF;
  }
  .contact-us h3{
  font-size: 28px;
      margin: 20px 0 10px;
      
  }

  h3 img {
    max-height: 50px;
}
#map { 
    height: 400px;
    margin: 20px 0;
    border-radius: 5px;
    border: 1px solid silver;
}
.swing{
    animation-duration: 3s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
}