.nofound {
    height: 30px;
    box-shadow: 0 0 8px 0 rgba(17, 22, 26, 0.16), 0 4px 8px 0 rgba(17, 22, 26, 0.08), 0 8px 16px 0 rgba(17, 22, 26, 0.08)
}
.nofound p{
    padding-left: 13px;
    padding-top:7px; ;
}
.space{
    height: 30px;
    width: 15px;
   
}
.datagate{
    width: 400px;
    height: 150px;
    box-shadow: 0 0 8px 0 rgba(17, 22, 26, 0.16), 0 4px 8px 0 rgba(17, 22, 26, 0.08), 0 8px 16px 0 rgba(17, 22, 26, 0.08);
}
.custom-select{
    border-bottom: 1px solid #cecece;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    border-radius: 0px !important;
    box-shadow: none !important;
}

