<div class="restPass">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
       
                               
                                     
          <h3>Change Paasword</h3>
          <div class="row">
              <div class="col-md-4"></div>
              <div class="col-md-4" >
                  <form [formGroup]="courseForm" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                            <label for="Name"><b>Otp</b></label>
                            <input type="text" class="w3-input" placeholder="Otp" id="otp"  formControlName="otp" required /> 
                    
                    </div> 
           
                    <div class="form-group">
                        <label for="password"><b>password</b></label>
                        <input type="text" class="w3-input" placeholder="password" id="password" formControlName="password"  required /> 
                
                    </div> 
                    <div class="form-group">
                      <label for="confirm password"><b>confirm password</b></label>
                      <input type="text" class="w3-input" placeholder="confirm password" id="confirmPassword" formControlName="confirmPassword"  required /> 
              
                  </div> 
                    <div class="form-group">
                        <input type='submit' class="sblgnbtn" /> 
                    </div>
                    <p style="color: coral ;text-align: center"><strong> {{msgAlert}}</strong></p>
                  </form >
              </div>
              <div class="col-md-4"></div>
          </div>
         
      </div>
    </div>
  </div>
</div>