
<div class="banner-down">
  <div class="container">
      <div class="row">
         
              <form >
           
                  <div class="col-md-4">
                      <!-- <h1>Forget password</h1> -->
                  </div> 
                  <div class="col-md-4">
                    <h3>Forget password</h3>
                    <hr >
                      <!-- <div class="form-group">
                              <label for="email"><b>Email</b></label>
                              <input type="text" placeholder="Enter Email"class="w3-input" name="email" [(ngModel)]="obj.email"/> 
                      
                      </div>  -->
                      <div class="form-group">
                              <label for="psw"><b>Password</b></label>
                              <input type="password" placeholder="Enter Password"class="w3-input" name="pass" [(ngModel)]="obj.pass"/>
                      </div>
                      <div class="form-group">
                              <label for="psw-repeat"><b>Repeat Password</b></label>
                              <input type="password" placeholder="Repeat Password"class="w3-input" name="psw-repeat" [(ngModel)]="obj.repeatpass"/>
                      </div>
                      <div class="sett">
                        <input type='submit' class='btn btn-next btn-primary' id="finish" name='finish' value='Change Password' (click)="changPassword(obj)" />
                      </div>
                          <div class="space"></div>
                    </div> 
                        <div class="col-md-4">
                          <!-- <div class="space"></div>
                          <div class="pull-right">
                              <input type='submit' class='btn btn-next btn-primary' id="finish" name='finish' value='Finish' /> 
                          </div> -->
                        </div> 
              </form>
         
      </div>
  </div>
</div>