/* .banner-down{
    background-color:#99ffbb;
} */


#content {
    position: relative;
    width: 100%;
    height: 700px;
    border: 2px solid gray;
    overflow: hidden;
}
#scrollable {
    height: 700px;
    width: 100%;
    overflow-y: scroll;
}
.picture{
    width: 220px;
height: 230px;
background-color: #808080;
border: 4px solid #CCC;
color: #FFF;
border-radius: 4px;
margin: 35px auto;
    overflow: hidden;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    position: relative; height: 250px;
}
#img001{
height: 150px;
width: 100%;
object-fit: cover;
}

.datagate{
    width: 400px;
height: 230px;
margin: 35px auto;
   box-shadow: 0 0 8px 0 rgba(17, 22, 26, 0.16), 0 4px 8px 0 rgba(17, 22, 26, 0.08), 0 8px 16px 0 rgba(17, 22, 26, 0.08);
}
.insidepicture{
    position: absolute; bottom: 0px; height: 100px;
}
.nofound{
    padding-top:40px;
    text-align: center;
  
}
.nofound p{
   
    border-radius: 30px;
    box-shadow: 0 0 8px 0 rgba(17, 22, 26, 0.16), 0 4px 8px 0 rgba(17, 22, 26, 0.08), 0 8px 16px 0 rgba(17, 22, 26, 0.08)
}
.addCART{
    padding-left: 307px;
  padding-top: 31px;

}
.badge {
    background-color: #FDC600;
    border-radius: 10px;
    color: white;
    display: inline-block;
    font-size: 16px;
    line-height: 1;
    padding: 3px 7px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}
ul{
    text-decoration: none; 
}
ul li a{
    /* color: #777777; */
    text-decoration: none;
    
    font-size: 22px;
      color: #FDC600;
}