.tlloged{
    text-align: center;
}
.logedForm{
    text-align: center;
}
.logedForm .emailBox{
    width: 335px;
}
.sblgnbtn{
    text-align: center;
    background-color: #ff8000;
    width: 330px;
    height: 44px;
    border: 1px solid #ff8000;
    color:white;
    font-size: 120%;
}
.orDown{
    padding-top:40px; 
}
.linebar{
    padding-left:140PX;
    border:1px solid #e0e0d1;
}
.spaceline{
    width: 10px;
}
.linkSize{
    text-decoration: none;
    font-size: 130%;
}
 .lineklp{
    width:29%; 
    text-align:center; 
    border-bottom: 1px solid #e0e0d1;
    line-height:0.1em;
    margin:10px 408px 20px; 
} 
.lineklp span 
{ 
background:#fff; 
padding:0 10px;
} 

.linkDown{
    padding-top:10px; 
    text-decoration: none;
}
.backbtnlg{
    padding-top:40px;
    padding-bottom: 40px; 
    text-align: center; 
}
.backbtnlg .backbtnlgn{
    background-color: #e0e0d1;
   padding-left: 100px;
   padding-right: 100px;
   padding-top: 12px;
   padding-bottom: 12px;
    border: 1px solid#e0e0d1;
    color:black;
    font-size: 120%;
    border-radius: 4px;
}
.loginwithfb{
    text-align:center;
    border:1px solid black;
    width:10px;
    height:6px;
}
.emailBox{
    padding: 10px;
    border-radius: 4px; 
}