
<div class="banner-down">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="logedForm">
                    <form  >
                            <div class="forgetboximg">
                                <img src="../../assets/images/logoman.png" class="rounded-circle" alt="Cinque Terre" width="120" height="120"> 
                            </div>
                            <h3 class="tlloged"><strong>Trouble Logging in?</strong></h3>
                            <div class="form-group">
                                <h4>Enter your user name email and we'll send<br/>you a link get back into your account</h4>
                                <input type="text"  placeholder="Email , Phone , username" class="emailBox" name="email" [(ngModel)]="obj.email"> 
                            </div>      
                            <input type='submit' class='sblgnbtn' id="finish" name='finish' value='Send Reset Link' (click)="forgrtData(obj)" /> 
                            <p style="color: coral ;text-align: center"><strong> {{msgAlert}}</strong></p>
                            <div class="orDown">
                                <div class="lineklp"><span>OR</span></div>
                            </div>
                            <div class="linkDown">
                                <a routerLink="/signup" class="linkSize">Create New Account</a>
                            </div>
                            <div class="backbtnlg">
                                <a  routerLink="/login" class="backbtnlgn">Back Login Page</a>
                            </div>        
                    </form>    
                </div>
             </div> 
        </div>
    </div>
</div>